doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Object tracking simulator

		script(src="./ui-main.ls")

		style(type="text/css").
			body, html {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
			}

			canvas {
				width: 100%;
				height: 100%;
			}

			#drivesim {
				width: 100%;
				height: 100%;
				position: relative;
			}

			#catchthething {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			#loopviz {
				width: 300px;
				height: 300px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				/*display: none;*/
			}

	body
		div(id="drivesim")
			div(id="loopviz")
			div(id="scorehud")
