doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Object tracking simulator

		script(src="./ui-main.ls")

		style(type="text/css").
			body, html {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			canvas {
				width: 100%;
				height: 100%;
			}
		
	body
	
