<div class="overlay-content">
	<div class="page-header">
		<h1>
			<span class="title"></span>
			<small class="subtitle"></small>
		</h1>
	</div>
	<div class="text"></div>
	<form class="content" autocomplete="off">
	<div class="inputs" style="clear: both; padding: 30px;"></div>
	<button type="submit" value="accept" class="btn btn-lg btn-success pull-right accept-button" style="min-width: 10em; display: inline-block;">
		<span class="accept">OK</span>
	</button>
	<button type="submit" class="btn btn-lg btn-default pull-left cancel-button" style="min-width: 10em; display: inline-block;">
		<span class="cancel">Cancel</span>
	</button>
	</form>
</div>
